body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: black;
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
  color: red;
}

.row {
  margin-left: 25px;
}

.posters {
  display: flex;
  gap: 10px; /*espaço entre os posters*/
}

.poster {
  width: 150px;
  height: 200px;
  background-color: gray;
}